
h1
{
    font-size: 50px;
    font-weight:300;
}
body
{
 
   /* background-color: #222831;backup */
    background-color: #000000ff;
    color:#ffffff;
    font-family: YanoneKaffeesatz;
}

img{
    width:100%;
}
div
{
  padding-top:5px;  
    
}
footer
{
    
    padding-top:5px;
    margin: 5px 0 0 0;
}

button:hover
{
animation:flow 1s;
} 
@keyframes flow
{

    to
    {
        border-radius:15px;
    }

}
